{%extends "index.html"%}

{% block content%}

<div>
    

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- header-area-start -->
		


        <!-- header-area-end -->
		<!-- banner-area-start -->
		<!-- banner-area-end -->
		<!-- slider-area-start -->
		<div class="slider-area" style="margin-top: 60px">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12 col-sm-12" >
						<!-- slider-main-start -->
						<div class="slider-main">
							<div class="slider-active">
								<div class="single-slider">
									<div class="slider-img">
										<a href="#"><img src="static/img/slider/11.jpg"  class="w-100" style="width: 900px !important" alt="slider" /></a>
									</div>
									<div class="slider-text" >
										<h1 style="color: white;">Prince of Persia </h1>
										<h2 style="color: white;">20% Off<span><br>Premium</span></h2>
										<a href="#">Buy Now</a>
									</div>
								</div>
								<div class="single-slider">
									<div class="slider-img">
										<a href="#"><img src="static/img/slider/11.jpg" alt="slider" /></a>
									</div>
									<div class="slider-text slider-text-2">
										<h1 style="color: white;">3d Game </h1>
										<h3 style="color: white;">Pro versions</h3>
										<a href="#">Buy Now</a>
									</div>
								</div>
							</div>
						</div>
						<!-- slider-main-end -->
						<!-- banner-right-start -->
						
						<!-- banner-right-end -->
					</div>	
				</div>
			</div>
		</div>
		<!-- slider-area-end -->
		<!-- onsaleproduct-area-start -->
		<!-- onsaleproduct-area-end -->
		<!-- banner-area-start -->
		
		
		
		<!-- banner-area-2-end -->
		<!-- footer-area-start -->
		
		<!-- footer-area-end -->
		
	
    </body>

  </div>
{%endblock%}