{%extends "index.html"%}
{% block content%}
<div class="login">
	<!-- breadcrumbs-area-strat -->
	<div class="breadcrumbs-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumbs-menu">
						<ul>
							<li><a href="{{url_for('home')}}">Home<i class="fa fa-angle-right"></i></a></li>
							<li><a href="#" class="active">login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumbs-area-end -->
	<!-- user-login-area-start -->
	<div class="user-login-area ptb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="login-title text-center mb-30">
						<h2>Login</h2>
					</div>
				</div>
				<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
					<form action="#" method="POST" class="login-form" style="text-align: center;">
						<input type="username" name="usernameLogin" id="usernameLogin" placeholder="Username" required><br><br>
						<input type="password" name="passwordLogin" id="passwordLogin" placeholder="Password" required><br><br>
						<button type="submit" onclick="validate()">Login</button><br>
						<p class="message">Not Registered? <a href="{{url_for('register')}}">Register</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{%endblock%}

<script>
  function validate() {
    var username = document.getElementById("emailLogin").value;
    var password = document.getElementById("password").value;
    if (username === null || username === "") {
      alert("Please enter the username.");
      return false;
    }
    if (password === null || password === "") {
      alert("Please enter the password.");
      return false;
    }
    alert('Login successful');
  }
</script>
