{% extends "index.html" %}

{% block content %}

<div class="cart">
    <!-- breadcrumbs-area-strat -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="#">Home<i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#" class="active">cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- entry-header-area-start -->
    <div class="entry-header-area pt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="entry-header-title">
                        <h2>Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- entry-header-area-end -->
    <!-- cart-main-area-start -->
    <div class="cart-main-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr hidden> <!-- Default row if no items in cart -->
                                        <td colspan="6">No Items in Cart</td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="{{url_for('static',filename='img/cart/07.jpg')}}" alt="product image" /></a></td>
                                        <td class="product-name"><a href="#">Prince of Persia</a></td>
                                        <td class="product-price"><span class="amount">$60.00</span></td>
                                        <td class="product-quantity"><input type="number" value="1" min="1"></td>
                                        <td class="product-subtotal">$60.00</td>
                                        <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="{{url_for('static',filename='img/cart/06.png')}}" alt="product image" /></a></td>
                                        <td class="product-name"><a href="#">PUBG</a></td>
                                        <td class="product-price"><span class="amount">$50.00</span></td>
                                        <td class="product-quantity"><input type="number" value="1" min="1"></td>
                                        <td class="product-subtotal">$50.00</td>
                                        <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="buttons-cart mb-30">
                            <ul>
                                <li><a href="#">Update Cart</a></li>
                                <li><a href="{{url_for('home')}}">Continue Shopping</a></li>
                            </ul>
                        </div>
                        <div class="coupon">
                            <h3>Coupon</h3>
                            <p>Enter your coupon code if you have one.</p>
                            <form action="#">
                                <input type="text" placeholder="Coupon code">
                                <a href="#">Apply Coupon</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <!-- hidden if no items in cart -->
                        <div class="cart_totals">
                            <h2>Cart Totals</h2>
                            <table>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td>
                                            <span class="amount">$110.00</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Shipping</th>
                                        <td>
                                            <ul>
                                                <li>
                                                    <input type="checkbox"  value="address" name="address">
                                                    <label>Flat Rate: <span class="amount">$7.00</span></label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="address" name="address">
                                                    <label>Free Shipping:</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <strong>
                                                <span class="amount">$110.00</span>
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="{{url_for('checkout')}}">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}