{% extends "index.html" %}

{% block content %}

<div class="search">
    <!-- breadcrumbs-area-strat -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{{url_for('home')}}">Home<i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#" class="active">Search</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
        <!-- entry-header-area-start -->
    <div class="entry-header-area pt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="entry-header-title">
                        <h2>Search</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- entry-header-area-end -->
    <div class="cart-main-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-add">Add to Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr hidden> <!-- Default row if no items in cart -->
                                        <td colspan="6">No Items in Cart</td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="{{url_for('static',filename='img/cart/07.jpg')}}" alt="product image" /></a></td>
                                        <td class="product-name"><a href="#">Prince of Persia</a></td>
                                        <td class="product-price"><span class="amount">$60.00</span></td>
                                        <td class="product-quantity"><input type="number" value="1" min="1"></td>
                                        <td class="product-subtotal">$60.00</td>
                                        <td class="product-add"><a href="#"><i class="fa fa-check"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="{{url_for('static',filename='img/cart/06.png')}}" alt="product image" /></a></td>
                                        <td class="product-name"><a href="#">PUBG</a></td>
                                        <td class="product-price"><span class="amount">$50.00</span></td>
                                        <td class="product-quantity"><input type="number" value="1" min="1"></td>
                                        <td class="product-subtotal">$50.00</td>
                                        <td class="product-add"><a href="#"><i class="fa fa-check"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="buttons-cart mb-30">
                            <ul>
                                <li><a href="{{url_for('cart')}}">See Cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}